{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'portfolio/css/portfolio.css' %}">
{% endblock %}

{% block content %}
<h1 class="page-title">My Portfolio</h1>
{% for cat in cats %}
<h3 class="website-category">{{cat.name}}</h3>
<div class="row">
{% for website in websites %}
{% if website.category == cat %}
  <a href="{{website.url}}" target="_blank">
  <div class="col-md-3">
    <div class="website">
      {% if website.image %}
      <div class="website-image">
        <img src="{{ website.image.url }}" alt="{{website.title}}">
      </div>
      {% endif %}
      <h4 class="website-title">{{website.title}}</h4>
      <p class="website-url">{{website.url}}</p>
      {% if website.description %}
      <p class="website-description">{{website.description}}</p>
      {% endif %}
    </div>
  </div>
  </a>
{% endif %}
{% endfor %}
</div>
<hr>
{% endfor %}
{% endblock %}
