{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'blog/css/post.css' %}">
{% endblock %}

{% block content %}
<h2 class="post-title">{{post.title}}</h2>
<div class="post-meta">
  <span>Category: <a class="post-category" href="{% url 'blog:category' post.category.slug %}">{{post.category}}</a></span>
  <span>|</span>
  <span>Date: {{post.created_at | date:"M d, Y"}}</span>
</div>
<hr>
<div class="post-text">{{post.text | safe}}</div>
{% endblock %}
