{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'pages/css/contact.css' %}">
{% endblock %}

{% block content %}
<h1 class="page-title">Contact Page</h1>
<div class="row">
  <div class="col-md-6">
    <h3 class="contact-section-header">Contact Info</h3>
    <h4 class="contact-info-name">Antony Kotsampaseris</h4>
    <h5 class="contact-info-tagline">Senior Software Developer @ <a class="contact-info-social-link" href="www.amdocs.com" target="_blank">Amdocs</a></h5>
    <p class="contact-info-message">Feel free to contact me and join me in the following social media. I will be happy to meet you and possibly work with you on your next exciting project! For more information about me, <a class="contact-info-social-link" href="/about/">check here!</a></p>
    <h5>Social Links</h5>
    <div class="contact-info-social">
      <i class="fa fa-at contact-info-social-icon"></i>
      <a class="contact-info-social-link" href="mailto:a.kotsampaseris@gmail.com" target="_blank">a.kotsampaseris@gmail.com</a>
    </div>
    <div class="contact-info-social">
      <i class="fa fa-linkedin-square contact-info-social-icon"></i>
      <a class="contact-info-social-link" href="https://linkedin.com/akotsampaseris" target="_blank">akotsampaseris</a>
    </div>
    <div class="contact-info-social">
      <i class="fa fa-github contact-info-social-icon"></i>
      <a class="contact-info-social-link" href="https://github.com/akotsampaseris" target="_blank">akotsampaseris</a>
    </div>
    <div class="contact-info-social">
      <i class="fa fa-instagram contact-info-social-icon"></i>
      <a class="contact-info-social-link" href="https://instagram.com/a.kotsampaseris" target="_blank">a.kotsampaseris</a>
    </div>
    <a href="{% url 'pages:home' %}"><img src="/media/negativeentropy/images/tne-logo.png" alt="NegativeEntropy" width="200"></a>
  </div>
  <div class="col-md-6">
    <h3 class="contact-section-header">Contact Form</h3>
    <form method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" name="button" class="btn btn-primary">Send Message</button>
    </form>
  </div>
</div>
{% endblock %}
