{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'pages/css/home.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block slider %}
<div id="carouselExampleIndicators" class="home-carousel carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
    	<img class="d-block w-100" style="height: 90vh;" src="/media/negativeentropy/images/tne-slider-1.png" alt="First slide">
      <div class="slide-overlay">
        <div class="slide-overlay-text">
          <h1 class="slide-header">
            <p class="slide-header-top">Hello there,</p>
            <p class="slide-header-bottom">I'm Antony.</p>
          </h1>
          <p class="slide-text">Find out more about me.<br> And feel free to get in touch.</p>
          <a class="btn slide-btn" href="/contact/">Contact me</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="section">
  <div class="row">
    <div class="col-md-6">
      <h3 class="section-header text-left">Welcome to my Website</h3><br>
      <p class="section-text">My name is Antony Kotsampaseris, I am a <b>Theoretical Phyisicist</b> and a <b>Full-Stack Web Developer</b>. I have published scientific papers in <b>peer-reviewed journals</b>, written code to obtain results presented in <b>international conferences</b>, and been working as a <b>web developer</b> for several years. Visit <a class="section-link" href="/about/">here</a> to learn more about me!</p>
    </div>
    <div class="col-md-6 text-center">
      <a href="{% url 'pages:about' %}">
        <img src="/media/negativeentropy/images/tne-icon-about.png" alt="" width="40%">
      </a>
    </div>
  </div>
</div>
<hr>
<div class="section">
  <div class="row">
    <div class="col-md-6 text-center">
      <a href="{% url 'portfolio:index' %}">
        <img src="/media/negativeentropy/images/tne-icon-portfolio.png" alt="" width="40%">
      </a>
    </div>
    <div class="col-md-6 text-left">
      <h3 class="section-header text-right">Take a look at my work</h3>
      <p class="section-text">The past couple of years I have been developing and designing websites, using technologies like <strong>Django, Laravel, Wordpress</strong> and others. With a lot of hard work, I have evolved a lot as a programmer and I am constantly challenging myself to become even better. You can view some examples of my work <a class="section-link" href="/portfolio/">here</a>!</p>
    </div>
  </div>
</div>
<hr>
<div class="section">
  <div class="row">
    <div class="col-md-6">
      <h3 class="section-header text-left">Check out my CV</h3>
      <p class="section-text align-middle">Along the way, I have studied in several universities and have worked with some amazing people from all around the world. I would be happy to collaborate on your next exciting open-source projects. You can go through my CV <a class="section-link" href="/cv/">here</a> and get more info about my education and my work experience!</p>
    </div>
    <div class="col-md-6 text-center">
      <a href="{% url 'cv:index' %}">
        <img src="/media/negativeentropy/images/tne-icon-cv.png" alt="" width="40%">
      </a>
    </div>
  </div>
</div>

{% if posts %}
<div class="section">
  <h1 class="section-header">Recent Posts</h1>
  <div class="row">
  {% for post in posts %}
    <div class="col-md-3">
      <div class="post">
        {% if post.image %}
        <div class="post-image">
          <a href="{% url 'blog:post' post.slug %}"><img src="{{ post.image.url }}" alt="{{post.title}}"></a>
        </div>
        {% endif %}
        <h4 class="post-title"><a href="{% url 'blog:post' post.slug %}">{{post.title}}</a></h4>
        <div class="post-meta">
          <span>Category: <a class="post-category" href="{% url 'blog:category' post.category.slug %}">{{post.category}}</a></span>
          <span>|</span>
          <span>Date: {{post.created_at | date:"d/m/y"}}</span>
        </div>
        <hr>
        <div class="post-text">{{post.text | safe | slice:":170"}}...</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}
