<footer class="footer sticky-bottom" style="background-color: #1d1d1d !important">
  <div class="container">
    <div class="row" style="padding-top: 30px; padding-bottom: 20px;">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div class="footer-logo mx-auto" style="text-align: center;">
          <a href="{% url 'pages:home' %}">
            <img src="/media/negativeentropy/images/tne-logo.png" alt="NegativeEntropy" width="200">
          </a>
        </div>
        <div class="social-links" style="text-align: center;">
          <span>
            <a href="https://linkedin.com/akotsampaseris">
              <i class="fa fa-linkedin-square social-icon" style="font-size: 24px; color: #fff;"></i>
            </a>
          </span>
          <span>
            <a href="https://github.com/thenegativeentropy">
              <i class="fa fa-github social-icon" style="font-size: 24px; color: #fff;"></i>
            </a>
          </span>
          <span>
            <a href="https://instagram.com/a.kotsabas">
              <i class="fa fa-instagram social-icon" style="font-size: 24px; color: #fff;"></i>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
