.home-carousel{
    top: 0%;
}

.slide-overlay{
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 35%;
}

.slide-overlay-text{
  margin: 0 auto;
  width: 60%;
}

.slide-header{
  font-weight: 900;
  font-size: 80px;
  font-family: "Poppins", sans-serif;
  box-shadow: 1px;
}


.slide-header-top{
  color: #ff9f96;
}

.slide-header-bottom{
  color: #ffd79c;
}

.slide-text{
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  color: #ffd79c;
}

.slide-btn{
    background-color: #ea1646;
    font-family: "Poppins", sans-serif;
    color: #ffd79c;
}

.section{
  padding: 20px;
  margin: 20px;
  vertical-align: bottom;
}

.section-header{
  color: #ffd79c;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.section-text{
  text-align: justify;
  font-family: "Poppins", sans-serif;
}

.section-link{
  color: #f72f2f;
}

.section-link:hover{
  color: #f72f2f;
}
